.header--wrapper::before {
	position: absolute;
	content: '';
	background-image: url('https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141352.jpg');
	background-color: #000000;
	background-size: cover;
	background-position: center;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 640px) {
	.header--wrapper::before {
		background-image: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cmVzdGF1cmFudCUyMGZvb2R8ZW58MHx8MHx8fDA%3D');
	}
}

.categories::-webkit-scrollbar {
	display: none;
}
